BasedOnStyle: GOOGLE
IndentWidth: 4
UseTab: true
TabWidth: 4
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 150
AlwaysBreakAfterDefinitionReturnType: None
CommentPragmas: '^ IWYU pragma:'
